openapi: 3.0.0
info:
  title: App-atos6
  version: 1.0.0
servers:
  - url: https://www.atos6.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
tags:
  - name: User
  - name: Organization
  - name: GraphQL
paths:
  /api/v1/user:
    get:
      tags:
        - User
      summary: User
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/users/{id}:
    put:
      tags:
        - User
      summary: User
      requestBody:
        content: {}
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - User
      summary: User-ById
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/organizations:
    get:
      tags:
        - User
      summary: Organizations
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/user_organization_connections/autocomplete:
    get:
      tags:
        - User
      summary: UserOrganizationConnections
      parameters:
        - name: organization_id
          in: query
          schema:
            type: integer
          example: '6277'
        - name: term
          in: query
          schema:
            type: string
          example: Test
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/organizations/undefined/messages/total_unread:
    get:
      tags:
        - Organization
      summary: MessagesUnread
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/organizations/{id}/cell_weekly_reports_not_sent:
    get:
      tags:
        - Organization
      summary: CellWeeklyReportsNotSent
      parameters:
        - name: week
          in: query
          schema:
            type: string
          example: '{date}'
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/organizations/{id}/members_birthdays:
    get:
      tags:
        - Organization
      summary: MembersBirthdays
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/organizations/undefined/one_signal_connections/null/assign:
    put:
      tags:
        - Organization
      summary: OneSingleConnectionAssign
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/organizations/{id}/show:
    get:
      tags:
        - Organization
      summary: Show
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/organizations/{id}/permissions:
    get:
      tags:
        - Organization
      summary: Show-OrganizationPermissions
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/organizations/{id}/organization_settings:
    get:
      tags:
        - Organization
      summary: Show-OrganizationSettings
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/organizations/{id}/sub_organizations:
    get:
      tags:
        - Organization
      summary: Show-SubOrganizations
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/organizations/{id}/cults/page/1:
    get:
      tags:
        - Organization
      summary: Show-OrganizationsCults
      parameters:
        - name: per
          in: query
          schema:
            type: integer
          example: '100000'
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/organizations/{id}/cells/{idcell}/cell_visitors.json:
    get:
      tags:
        - Organization
      summary: CellVisitorsOnWeek
      parameters:
        - name: week
          in: query
          schema:
            type: string
          example: '2022-01-17'
        - name: id
          in: path
          schema:
            type: string
          required: true
        - name: idcell
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/organizations/{id}/cell_template_fields:
    get:
      tags:
        - Organization
      summary: CellTemplateFields
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/organizations/{id}/cells/{idcell}/cell_visitors:
    post:
      tags:
        - Organization
      summary: CellVisitors
      requestBody:
        content: {}
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
        - name: idcell
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/organizations/{id}/cells/{idcell}/weekly_reports_by_name.json:
    post:
      tags:
        - Organization
      summary: CellWeeklyReportsByNameOnWeek
      requestBody:
        content: {}
      parameters:
        - name: week
          in: query
          schema:
            type: string
          example: '2022-01-17'
        - name: id
          in: path
          schema:
            type: string
          required: true
        - name: idcell
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/organizations/{id}/cells/{idcell}/cell_members.json:
    get:
      tags:
        - Organization
      summary: CellMembersWeek
      parameters:
        - name: week
          in: query
          schema:
            type: string
          example: '2022-01-17'
        - name: id
          in: path
          schema:
            type: string
          required: true
        - name: idcell
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v1/organizations/{id}/cell_weekly_reports_sent:
    get:
      tags:
        - Organization
      summary: CellWeeklyReportsSentOnWeek
      parameters:
        - name: week
          in: query
          schema:
            type: string
          example: '2022-01-17'
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/organizations/{id}/cells/{idcell}/cell_weekly_reports_by_name_available_weeks.json:
    get:
      tags:
        - Organization
      summary: CellWeeklyReportsByNameAvailable
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
        - name: idcell
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /graphql:
    post:
      tags:
        - GraphQL
      summary: Graphql-Organization, Cell
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /organization/organizationTerm/{id}:
    get:
      tags:
        - GraphQL
      summary: OrganizationTerm
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /organization/selfRegistration/{id}:
    get:
      tags:
        - GraphQL
      summary: Organization-SelfRegistron
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /organization/schoolClasses/classDays:
    get:
      tags:
        - GraphQL
      summary: OrganizationSchoolClassesClassDays
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/status_ministerials:
    get:
      tags:
        - default
      summary: Status-Ministerials
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /countries/br/states:
    get:
      tags:
        - default
      summary: Countries-BrStates
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/professions:
    get:
      tags:
        - default
      summary: Professions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
